{
    "$schema": "https://getinfection.github.io/infection/infection-schema.json",
    "source": {
        "directories": [
            "app"
        ]
    },
    "phpUnit": {
        "configDir": "."
    },
    "logs": {
        "summary": "infection-summary.log",
        "text": "infection.log",
        "stryker": {
            "report": "infection-stryker-report.json",
            "badge": "infection-stryker-badge.svg"
        }
    },
    "tmpDir": ".infection-temp",
    "mutators": {
        "@default": true
    }
}
