{
    "source": {
        "directories": [
            "app"
        ]
    },
    "bootstrap": "vendor/autoload.php",
    "phpUnit": {
        "configDir": ".",
        "customPath": "vendor/bin/phpunit"
    }
}
