name: secret-scan

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main
  schedule:
    - cron: '0 7 * * 1'

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Scan for Secrets
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: detect --source=. --no-git --redact
